*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: #313131;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
	
}

.option1{
	background: #0b9e2d;
	width: 400;
	height: 75;
	text-align: -10%;
	border-radius: 15px 50px;
}
.option1:hover{
	background: #e7eb0c;
}
.option1 a{
	text-decoration: none;
	display: inline-block;
}
.option2{
	background: #0b9e2d;
	width: 400;
	height: 75;
	text-align: -10%;
	border-radius: 15px 50px;
}
.option2:hover{
	background: #e7eb0c;
}
.option2 li a{
	text-decoration: none;
	display: inline-block;
}
.option3{
	background: #0b9e2d;
	width: 400;
	height: 75;
	text-align: -10%;
	border-radius: 15px 50px;
}
.option3:hover{
	background: #e7eb0c;
}
.option3 li a{
	text-decoration: none;
	display: inline-block;
}

.option4{
	background: #eb1e0c;
	width: 250;
	height: 75;
	text-align: -10%;
	border-radius: 15px;
}
.option4:hover{
	background: #eb610c;
}
.option4 li a{
	text-decoration: none;
	display: inline-block;
}